<div class="header">
  <h1 class="title">Funcionários</h1>
  <button type="button" class="btn btn-primary" (click)="open()">Adicionar</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">Cargo</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let employee of employees">
    <tr>
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone_number}}</td>
      <td>{{employee.position}}</td>
      <td class="actions">
        <a (click)="open(employee.id)">editar</a>
        <a (click)=remove(employee.id)>remover</a>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <app-employee-form></app-employee-form>
</ng-template>