:root {
    --primary: #ee4e34;
    --secondary: #f8c446;
    --success: #28a745;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    opacity: 0.9;
}

button {
    border-radius: 12px !important;
}

.table td, .table th {
    border-top: unset !important;
}